<%- include('../partials/header') %>

<section id="list">
  <tbody>
    <% flights.forEach(function(f) { %>
      <form action="/flights/<%= f._id %>?_method=DELETE" method="POST" class="delete-form">
      <table>
          <thead>
            <tr>
              <th>Airline</th>
              <th>Airport</th>
              <th>Flight</th>
              <th>Depart</th>
            </tr>
          </thead>
          <button type="submit">X</button>
        </form>
    <tr>
      <td><%= f.airline%></td>
      <td><%= f.airport %></td>
      <td><%= f.flightNo %></td>
      <td><%= f.departs.toLocaleDateString()%></td>
      <td><a href="/flights/<%=f._id%>">DETAILS</a></td>
      <% }); %>
    </tr>
  </tbody>
</table>
</section>
<%- include('../partials/footer') %>

